[presentation.hierarchy]
# heading-color = "cyan" # red, bright-red, green, yellow, blue, magenta, cyan, white
# section-color = "yellow" # red, bright-red, green, yellow, blue, magenta, cyan, white

[presentation.amounts]
negative-style = "parentheses"
# positive-color = "green" # red, bright-red, green, yellow, blue, magenta, cyan, white
# negative-color = "red" # red, bright-red, green, yellow, blue, magenta, cyan, white

[presentation.calendar]
cycle-end-marker = "|"
plan-due-marker = "$"
issue-due-marker = "!"
multiple-marker = "+"

[reports.trial-balance]
as-of = "latest"

[reports.balance-sheet]
as-of = "latest"

[reports.profit-and-loss]
from = "2026-06-15"
through = "latest"

[reports.daily-flow]
from = "2026-07-01"
through = "latest"
max-date-columns = 5

[reports.monthly-accounts]
from = "beginning"
through = "latest"

[reports.recent-transactions]
through = "latest"
count = 5
